*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*maim*/

.cuerpo{
    background-color: #ffe4ae;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif bold;
}

.cuerpo-bg{
    background-color: #ffe4ae;
}

.contenedor-cuerpo{
    width: 1650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.titulo-inicio{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
}
.titulo-inicio h3{
    margin-top: 7px;
}


.destacados{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
justify-content: center;}

.destacado-t{
    margin: 12px;
    background-color: white;
    width: 350px;
    height: 460px;
    padding: 20px;
    transition: 0.5ms;
}
.destacado-t img{
    margin-top: 8px;
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.destacado-t:hover{
    background-color: #fbf0e4;
    border: dashed;
    border-color: #ffb731;    
}

.destacado-t h3{
    font-size: 24px;
}

.t-button{
    padding: 8px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ffdfbb;
    font-size: 16px;
    
}

.t-button:active {
  background-color: #fed6a2;
  box-shadow: 0 5px #ffc65c;
  transform: translateY(4px);
}

/*Footer*/
.pie{
    background-color: #2B3035;
}
.pie-contenedor{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pie-columnas{
    margin-top: 25px;
    width: 33%;
    padding: 15px;
}

.pie .pie-columnas h3{
    font-size: 20px;
}
.pie-p{
    margin-top: 30px;
}
@media (max-width:1512px){
    .destacado-t{
        width: 300px;
        height: 400px;
    }
}

@media (max-width:850px){
    .pie-contenedor{
        justify-content: center;
    }
    .pie-columnas{
        display: block;
        width: 100%;
        text-align: center;
    }
    .pie .pie-columnas h3{
        font-size: 24px;
    }
    .destacado-t{
        width: 270px;
        height: 400px;
    }
}

/*Contacto Page*/

.cont{
    text-align: center;
    margin: 110px;
}

.cont h3{
    font-size: 96px;
}

.cont p{
    margin: 70px 
}


/*Servicios t-servi*/



.servi-section{
    width: 100%;
}

.servi-h1{
    width: 100%;
}

.t-servi{
    margin: 12px;
    background-color: white;
    width: 100%;
    padding: 20px;
    transition: 0.5ms;
}

.t-servi img{
    margin-top: 8px;
    width: 75%;
    object-fit:contain;
}



/*Fin Servicios t-servi*/

/*Formulario Contactos*/
.formulario{
    display: grid;
    width: 700px;
    margin: 40px auto;
    border-radius: 5px;
    padding: 20px;
    background-color: #2B3035;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contactanos contactanos"
                         "nombre            email"
                         "tel               asunto"
                         "mensaje           mensaje"
                         "button            button";
}
.formulario button{
    grid-area: button;
}
.formulario h2{
    grid-area: contactanos;
    color: white;
    padding: 10px;
    font-size: 24px;
}
.formulario label{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
}

.formulario label input , .formulario label textarea{
    background-color: #2B3035;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
}


.formulario label:nth-child(2){
    grid-area: nombre;
}
.formulario label:nth-child(3){
    grid-area: email;
}
.formulario label:nth-child(4){
    grid-area: tel;
}
.formulario label:nth-child(5){
    grid-area: asunto;
}
.formulario label:nth-child(6){
    grid-area: mensaje;
}
.formulario label:nth-child(7){
    grid-area: button;
}
.formulario button{
    grid-area: button;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

@media(max-width:750px){
    .formulario{
        width: auto;
        margin: 40px auto;
        border-radius: none;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "contactanos"
                            "nombre"
                            "email"
                            "tel"
                            "asunto"
                            "mensaje"
                            "button";
        }
}

/*Fin Formulario Contactos*/















